.box {
    width: 100%;
    height: 400px;
    background-color: #f5f5f5;
    margin-bottom: 8px;
}

.small-box {
    width: 50px;
    height: 50px;
    background-color: red;
}

/* 
scale(width, height) 
*/

.transform2d {
    transform: translate(50px, 100px) rotate(20deg) scale(2, 1);
}

.transform3d {
    transform: rotateX(20deg) rotateY(60deg) rotateZ(30deg);
}

/* 
ease - specifies a transition effect with a slow start, then fast, then end slowly (this is default)
linear - specifies a transition effect with the same speed from start to end
ease-in - specifies a transition effect with a slow start
ease-out - specifies a transition effect with a slow end
ease-in-out - specifies a transition effect with a slow start and end
cubic-bezier(n,n,n,n) - lets you define your own values in a cubic-bezier function 
*/

.transition1 {
    transition: width 2s, height 2s;
    transition-timing-function: ease;
    transition-delay: 1s;
}

.transition1:hover {
    width: 100%;
    height: 100%;
}

.transition2 {
    transition: width 2s, height 2s, transform 2s;
}

.transition2:hover {
    width: 300px;
    height: 300px;
    transform: rotate(180deg);
}

.transition3 {
    transition: width 2s, height 2s, transform 4s;
}

.transition3:hover {
    width: 300px;
    height: 300px;
    transform: rotateX(20deg) rotateY(60deg) rotateZ(30deg);
}

.transition4 {
    position: relative;
    top: 50px;
    left: 50px;
    transition: top 2s, left 2s, background-color 2s;
}

.transition4:hover {
    top: 200px;
    left: 200px;
    background-color: blue;
}

.animation1 {
    animation-name: animation1;
    animation-duration: 2s;
}

@keyframes animation1 {
    from {
        background-color: red;
    }
    to {
        background-color: yellow;
    }
}

.animation2 {
    animation-name: animation2;
    animation-duration: 4s;
}

@keyframes animation2 {
    0% {
        background-color: red;
    }
    25% {
        background-color: yellow;
    }
    50% {
        background-color: blue;
    }
    100% {
        background-color: green;
    }
}

.animation3 {
    position: relative;
    animation-name: animation3;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

@keyframes animation3 {
    0% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
    25% {
        background-color: yellow;
        left: 200px;
        top: 0px;
    }
    50% {
        background-color: blue;
        left: 200px;
        top: 200px;
    }
    75% {
        background-color: green;
        left: 0px;
        top: 200px;
    }
    100% {
        background-color: red;
        left: 0px;
        top: 0px;
    }
}